src/main/resources/tagFileSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="map">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="entry" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="entry">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="map" />
			</xs:sequence>
			<xs:attribute name="key" use="required" type="xs:NMTOKEN" />
		</xs:complexType>
	</xs:element>
</xs:schema>

